<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.open.capacity.monitor.dao.IMonitorDao">

    <insert id="saveMonitorInfo" parameterType="com.open.capacity.monitor.entity.ServiceMonitor" keyProperty="serviceId"
            useGeneratedKeys="true">
        INSERT INTO service_monitor(service_name,service_addr,service_method,service_params) VALUES (#{serviceName},#{serviceAddr},#{serviceMethod},#{serviceParams})
    </insert>

    <update id="updateMonitorInfo" parameterType="com.open.capacity.monitor.entity.ServiceMonitor">
        UPDATE service_monitor
        <set>
            <if test="serviceName!=null and serviceName!=''">
                service_name=#{serviceName},
            </if>
            <if test="serviceAddr!=null and serviceAddr!=''">
                service_addr=#{serviceAddr},
            </if>
            <if test="serviceMethod!=null and serviceMethod!=''">
                service_method=#{serviceMethod},
            </if>
            <if test="serviceParams!=null and serviceParams!=''">
                service_params=#{serviceParams},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
        </set>
        where service_id=#{serviceId}
    </update>

    <delete id="deleteMnoitorInfoById" parameterType="java.lang.Integer">
        DELETE FROM service_monitor WHERE service_id=#{serviceId}
    </delete>

    <select id="queryMonitorInfo" resultType="com.open.capacity.monitor.entity.ServiceMonitor"
            parameterType="com.open.capacity.monitor.entity.ServiceMonitor">
        SELECT * FROM service_monitor
        <where>
            <if test="serviceId!=null">
                and service_id=#{serviceId}
            </if>
            <if test="serviceName!=null and serviceName!=''">
                and service_name like concat('%', #{serviceName}, '%')
            </if>
            <if test="serviceAddr!=null and serviceAddr!=''">
                and service_addr like concat('%', #{serviceAddr}, '%')
            </if>
            <if test="serviceMethod!=null and serviceMethod!=''">
                and service_method=#{serviceMethod}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
        </where>
    </select>


    <select id="queryMonitorInfoAll" resultType="com.open.capacity.monitor.entity.ServiceMonitor">
        SELECT * FROM service_monitor
    </select>


    <select id="queryMonitorByIdAndName" resultType="com.open.capacity.monitor.entity.ServiceMonitor">
        SELECT * FROM service_monitor  WHERE service_name=#{serviceName} and service_id!=#{serviceId}
    </select>

</mapper>